[submodule "lovelace-popup-card"]
	path = ha-config/www/vendor/lovelace-popup-card
	url = https://github.com/thomasloven/lovelace-popup-card.git
[submodule "lovelace-card-tools"]
	path = ha-config/www/vendor/lovelace-card-tools
	url = https://github.com/thomasloven/lovelace-card-tools.git
[submodule "lovelace-layout-card"]
	path = ha-config/www/vendor/lovelace-layout-card
	url = https://github.com/thomasloven/lovelace-layout-card.git
