[submodule "lovelace-popup-card"]
	path = www/vendor/lovelace-popup-card
	url = git@github.com:thomasloven/lovelace-popup-card.git
[submodule "lovelace-card-tools"]
	path = www/vendor/lovelace-card-tools
	url = git@github.com:thomasloven/lovelace-card-tools.git
